<div>
  <app-progress
    [expenses]="allExpenses"
    [goal]="goal"
    [totalSpent]="totalSpent"></app-progress>
  <app-form
      (add)="handleAdd($event)"></app-form>
  <ul class="collection">
      <app-expense
        *ngFor="let expense of expenses"
        [expense]=expense
        (edit)="handleEdit($event)"
        (delete)="handleDelete($event)"
        (reimburse)="handleReimburse($event)">
      </app-expense>
  </ul>
  <h4 *ngIf="reimbursed.length > 0">Reimbursed Expenses</h4>
  <ul class="collection">
    <app-expense
      *ngFor="let expense of reimbursed"
      [expense]=expense
      (edit)="handleEdit($event)"
      (delete)="handleDelete($event)"
      (reimburse)="handleReimburse($event)">
    </app-expense>
  </ul>
  <div *ngIf="allExpenses.length === 0">
    <h4 class="center-align">
      Add an expense to start tracking your PIP Funds
    </h4>
  </div>
</div>